<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
    </head>

    <body>
        <p>The alert with uuid: {{ alert.uuid }}, search term: {{ alert.search_term }} and interval
            time:{{alert.interval_time}} was created
            <br> This is an
            <strong>important</strong> message
            <br> <b> By Admin.</b>

        <p style='color:red'> Good Day </p>

        {% include "footer.html" with field=link_views %}
    </body>

</html>
